PORT=8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=your-secret-access-token
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your-secret-refresh-token
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-cloud-key
CLOUDINARY_API_SECRET=your-cloud-secret

MONGODB_URI=mongodb+srv://rajuvis778:<db_password>@cluster0.z9jgy.mongodb.net